body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em 0;
}

#main-container {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

#book-form-container,
#book-list-container {
    width: 45%;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 0.5em;
}

input {
    padding: 0.5em;
    margin-bottom: 1em;
}

button {
    padding: 0.5em;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}

#book-list {
    list-style: none;
    padding: 0;
}

.book-item {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
}